@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 


    .left{
        position: relative;
        float: left;
        width:6%;
        overflow: hidden;

    }    
   .left185{
        float: left;
        position: relative;
        width:100%;
        height: 185px;

    }

    #left01{
        background-image: url(img/left01.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }



    .left400{
        float: left;
        position: relative;
        width:100%;
        height: 1200px;
        background-image: url(img/linenew.svg);
        background-repeat: repeat-y;
        background-size:cover;
    } 
    .name{
        margin-top: 175px;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 4px;
        vertical-align: bottom;
        color: rgb(50,50,50);
    }
    .index{
        height: 183px;
        margin: 0;
        opacity: 0;
    }
    .wrap{
        left:5%;
        width:94%;
        height: 800px;
        position: absolute;
    }
    .work{
        width: 95%;
        height: 24%;
        position: relative;
        float:left;
        font-family: Brandon Grotesque;
        font-weight: 400;
        margin-bottom: 3%;
        background-repeat: no-repeat;
        background-size:100%;
        background-position: 50% 50%;
    }
    figure {
        opacity: 0;
    }
    
    figure :hover{
        opacity: 0;
    }

    .work_wide{
        width: 95%;
        height: 24%;
        position: relative;
        float:left;
        font-family: Brandon Grotesque;
        font-weight: 400;
        margin-bottom: 3%;
        background-repeat: no-repeat;
        background-size:100%;
        background-position: 50% 50%;
    }
    
    
    
    
    #left01{
        background-image: url(img/lineleft1.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #coursera{
        background-image: url(img/mob/coursera.jpg);
        
    }
    #dp{
        background-image: url(img/mob/dp.jpg); 
    }
    #fleet{
        background-image: url(img/mob/fleet.jpg); 
    }
    #ebola{
        background-image: url(img/mob/ebola.jpg); 
    }
    #uncon{
        background-image: url(img/mob/uncon.jpg); 
    }
    #bigger{
        background-image: url(img/mob/bigger.jpg); 
    }
    #spatiality{
        background-image: url(img/mob/spatiality.jpg); 
    }
    #academy{
        background-image: url(img/mob/academy.jpg); 
    }
    
    

    
}




