@font-face {
  font-family: 'Neuzeit S LT Std Book';
  src: url('NeuzeitSLTStd-Book.eot'); /* IE9 Compat Modes */
  src: url('NeuzeitSLTStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeuzeitSLTStd-Book.woff') format('woff'), /* Modern Browsers */
       url('NeuzeitSLTStd-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeuzeitSLTStd-Book.svg#0f36e451afbb48ba6ebc31554b154772') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}




body{
    margin: 0;
    font-family: Neuzeit S LT Std Book;
}

a:link{color: black; text-decoration: none;}
a:hover{text-decoration: none;}
a:visited{color: black; text-decoration: none;}


#woo{letter-spacing: 15px; margin: 0; margin-top: 16px;}
.sup{font-size: 8px; position: relative; bottom: 0.7em; margin-left: 0.5em; font-weight: 800;}



.navigation{
    width: 49vw;
    font-size:29px;
    line-height: 40px;
    letter-spacing: 1px;
    margin: 1vh 1vw;
    z-index: 100;
}
.navigation a:hover{color:lightslategrey;}
#back a:hover{color:indianred; transition: 0.5s;}

.workinfo{
    width: 49vw;
    height: 98vh;
    font-size:29px;
    line-height: 40px;
    letter-spacing: 1px;
    margin: 1vh 1vw;
    z-index: 100;
    position: fixed;
}
.halftop{
    position: relative;
    width: 100%;
    height: 50%;
    margin: 0;
    float: left;
}
#back{
    display: flex;
    align-items: flex-end;
}
.halfbottom{
    position: relative;
    width: 100%;
    margin: 0;
    float: left;
    align-self: flex-end;
}  
.halfleft{
    position: relative;
    width: 50%;
    margin: 0;
    float: left;
} 
.halfright{
    position: relative;
    width: 50%;
    margin: 0;
    float: left;
} 


p.bodytext{
    font-size: 13px;
    line-height: 20px;
    margin-right: 16%;
}
   
.backwrap{
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: 47vh;
    top:0;
    z-index: -1000;
}

.back{
    position: fixed;
    width: 70vw;
    height: 67%;
    margin:0px 15vw;
    background-size:100%;
    background-position:top;
    background-repeat: no-repeat;
    opacity: 0;
}
#wz6_back{background-image: url(pages/wz_6/img/01.jpg);}
#wzweb_back{background-image: url(pages/wz_web/img/Untitled-4.jpg);}
#coursera_back{background-image: url(pages/coursera/img/00.jpg); }
#rebuild_back{background-image: url(pages/rebuild/img/00.jpg); }
#aas_back{background-image: url(pages/aas_back.jpg); } 
#fleet_back{background-image: url(pages/fleet_back.jpg); }
#ebola_back{background-image: url(pages/ebola/img/logo.png); }
#gds_back{background-image: url(pages/gds/img/00.jpg); }
#uncon_back{background-image: url(pages/uncon_back.jpg); }
#bigger_back{background-image: url(pages/bigger_back.gif); }
#academy_back{background-image: url(pages/academy_back.jpg); }
#spatiality_back{background-image: url(pages/spatiality_back.jpg); }   
#mca_back{background-image: url(pages/mca_chicago/img/05.jpg);}
#hdm_back{background-image: url(pages/hdm/img/02.jpg);}
#magasin_back{background-image: url(pages/magasin/img/10.jpg);}
#cnrepo_back{background-image: url(pages/cn_reposition/img/00.jpg);}
#artbasel_back{background-image: url(pages/art_basel/img/00.jpg);}


/*
.description{
    font-size:18px;
    padding: 1%;
    position: relative;
    width: 48%;
}
.about{
    font-size:115px;
    line-height: 125px;
    padding-left: 1%;
    padding-top: 1%;
    position: relative;
}
*/
.img_wrap{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 47vh;
    width: 100%;
}
.img_box{
    width: 70vw;
    height: auto;
}
.img_box img{
    width: 100%;
    margin-bottom: 10vh;
}
.img_box iframe{
    width: 100%;
    height: 80vh;
    margin-bottom: 10vh;
}

.side{
    width: 15%;
    
}
.center{
    width: 70%;
}
.center img{
    width: 100%;
}

.navigation_mob{
    font-size:40px;
    line-height: 39px;
    opacity: 0;
    height: 0;
    padding:0;
    z-index: -1000;
}



@media only screen and (min-device-width : 1375px) and (max-device-width : 1680px) { 
    
    .navigation{
        font-size:102px;
        line-height: 104px;
    }
    
    .description{
        font-size:15px;
    }
    .about{
        font-size:110px;
        line-height: 115px;
    }    
}



@media only screen and (min-device-width : 375px) and (max-device-width : 667px) { 
    
    #woo{letter-spacing: 10px; margin: 0; margin-top: 12px;}
    .sup{font-size: 5px; font-weight: 800; bottom:0.5em;}
    .navigation{
        width: 92vw;
        font-size:18px;
        line-height: 25px;
        letter-spacing: 1px;
        margin: 1vh 4vw 1.5vh 4vw;
        z-index: 100;
    }
    .workinfo{
        width: 92vw;
        height: 98vh;
        font-size:18px;
        line-height: 25px;
        letter-spacing: 1px;
        margin: 1vh 4vw;
        z-index: 100;
        position: relative;
    }
    .backwrap{
        width: 0;
        height: 0;
        position: fixed;
        top: 0;
        
    }
    .img_wrap{
        display: flex;
        justify-content: center;
        position: absolute;
        margin-top: 1vh;
        width: 100%;
    }
    .img_box{
        width: 92vw;
        height: auto;
    }
    .img_box img{
        width: 100%;
        margin-bottom: 5vh;
    }
    .img_box iframe{
        width: 100%;
        height: 35vh;
        margin-bottom: 5vh;
    }
    p.bodytext{
        font-size: 11px;
        line-height: 17px;
        margin-right: 0%;
    }
    .halfbottom{
        position: fixed;
        width: 100%;
        margin: 0;
        bottom: 1vh;
    } 

}