@font-face {
  font-family: 'Neuzeit S LT Std Book';
  src: url('NeuzeitSLTStd-Book.eot'); /* IE9 Compat Modes */
  src: url('NeuzeitSLTStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('NeuzeitSLTStd-Book.woff') format('woff'), /* Modern Browsers */
       url('NeuzeitSLTStd-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('NeuzeitSLTStd-Book.svg#0f36e451afbb48ba6ebc31554b154772') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('gotham/Gotham-Book.eot'); /* IE9 Compat Modes */
  src: url('gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('gotham/Gotham-Book.woff') format('woff'), /* Modern Browsers */
       url('gotham/Gotham-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('gotham/Gotham-Book.svg#7510147900d23fa3ad697e74bf146ea2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}


body{
    margin: 0;
    font-family: Neuzeit S LT Std Book;
}

a:link{color: black; text-decoration: none;}
a:hover{text-decoration: none;}
a:visited{color: black; text-decoration: none;}


#woo{letter-spacing: 10px; margin: 0; margin-top: 16px;}
.sup{font-size: 8px; position: relative; bottom: 0.7em; margin-left: 0.5em; font-weight: 800;}



.navigation{
    width: 49vw;
    font-size:29px;
    line-height: 40px;
    letter-spacing: 1px;
    margin: 1vh 1vw;
    z-index: 100;
}
.navigation a:hover{color:lightslategrey;}
#back a:hover{color:indianred; transition: 0.5s;}

.workinfo{
    width: 49vw;
    height: 98vh;
    font-size:29px;
    line-height: 40px;
    letter-spacing: 1px;
    margin: 1vh 1vw;
    z-index: 100;
    position: fixed;
}
.halftop{
    position: relative;
    width: 100%;
    height: 50%;
    margin: 0;
    float: left;
}
#back{
    display: flex;
    align-items: flex-end;
}
.halfbottom{
    position: relative;
    width: 100%;
    margin: 0;
    float: left;
    align-self: flex-end;
}  
.halfleft{
    position: relative;
    width: 50%;
    margin: 0;
    float: left;
} 
.halfright{
    position: relative;
    width: 50%;
    margin: 0;
    float: left;
} 


p.bodytext{
    font-size: 13px;
    line-height: 20px;
    margin-right: 16%;
}
   
.backwrap{
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: 47vh;
    top:0;
    z-index: -1000;
}

.back{
    position: fixed;
    width: 70vw;
    height: 67%;
    margin:0px 15vw;
    background-size:100%;
    background-position:top;
    background-repeat: no-repeat;
    opacity: 0;
}

.imghover:hover{opacity: 0.5; transition: 0.3s;}

#academy_back{background-image: url(pages/academy/img/Untitled-7.jpg); }
#artbasel_back{background-image: url(pages/art_basel/img/00.jpg);}
#bewag_back{background-image: url(pages/bewag/img/Untitled-1.jpg); }
#bigger_back{background-image: url(pages/bigger/img/bigger_back.gif); }
#cfda_back{background-image: url(pages/cfda/img/Untitled-1.jpg); }
#coursera_back{background-image: url(pages/course/img/00.jpg); }
#cnrepo_back{background-image: url(pages/cn_reposition/img/00.jpg);}
#cn_videos_back{background-image: url(pages/cn_videos/img/iPhone-6-Mockup.jpg);}
#fleet_back{background-image: url(pages/fleet/img/Untitled-1.jpg); }
#ebola_back{background-image: url(pages/ebola/img/logo.png); }
#eva_back{background-image: url(pages/eva/img/book0.jpg); }
#gdsampling_back{background-image: url(pages/gdsampling/img/00.jpg); }
#grand_blue_back{background-image: url(pages/grand_blue/img/03.jpg);}
#hdm_back{background-image: url(pages/hdm/img/02.jpg);} 
#horst_back{background-image: url(pages/horst/img/02.jpg);} 
#kaplan_back{background-image: url(pages/kaplan/img/web.jpg);}
#land_back{background-image: url(pages/land/img/Stationary1.jpg);} 
#mca_back{background-image: url(pages/mca_chicago/img/05.jpg);}
#magasin_back{background-image: url(pages/magasin/img/10.jpg);}
#princeton_back{background-image: url(pages/princeton/img/01.jpg); } 
#rane_back{background-image: url(pages/rane/img/Header-GUI-Cop.jpg);}
#rebuild_back{background-image: url(pages/rebuild/img/00.jpg); }
#solar_back{background-image: url(pages/solar/img/_MG_2038.jpg);}
#spatiality_back{background-image: url(pages/spatiality/img/c.jpg); } 
#uncon_back{background-image: url(pages/unconscious/img/Poster_Mockup_bright.jpg); }
#vogue_vip_back{background-image: url(pages/vogue_vip/img/Untitled-1.jpg);}
#with_back{background-image: url(pages/with/img/web2.jpg);}
#wz6_back{background-image: url(pages/wz_6/img/01.jpg);}
#wzweb_back{background-image: url(pages/wz_web/img/Untitled-4.jpg);}


/*
.description{
    font-size:18px;
    padding: 1%;
    position: relative;
    width: 48%;
}
.about{
    font-size:115px;
    line-height: 125px;
    padding-left: 1%;
    padding-top: 1%;
    position: relative;
}
*/
.img_wrap{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 47vh;
    width: 100%;
}
.img_box{
    width: 70vw;
    height: auto;
}
.img_box img{
    width: 100%;
    margin-bottom: 10vh;
    
}
.img_box iframe{
    width: 100%;
    height: 70vh;
    margin-bottom: 10vh;
}
#grid {
    width: inherit;
    margin-bottom: 10vh;
}

#grid img{
    width:15.5%;
    margin:0.4%;
}

.side{
    width: 15%;
    
}
.center{
    width: 70%;
}
.center img{
    width: 100%;
}

.navigation_mob{
    font-size:40px;
    line-height: 39px;
    opacity: 0;
    height: 0;
    padding:0;
    z-index: -1000;
}
#gif{width: 60%;
    margin-left: 20%;
}


@media only screen and (min-device-width : 1375px) and (max-device-width : 1680px) { 
    
    .navigation{
        font-size:102px;
        line-height: 104px;
    }
    
    .description{
        font-size:15px;
    }
    .about{
        font-size:110px;
        line-height: 115px;
    }    
}



@media only screen and (min-device-width : 375px) and (max-device-width : 667px) { 
    
    #woo{letter-spacing: 10px; margin: 0; margin-top: 12px;}
    .sup{font-size: 5px; font-weight: 800; bottom:0.5em;}
    .navigation{
        width: 92vw;
        font-size:18px;
        line-height: 25px;
        letter-spacing: 1px;
        margin: 1vh 4vw 1.5vh 4vw;
        z-index: 100;
    }
    .workinfo{
        width: 92vw;
        height: 70vh;
        font-size:18px;
        line-height: 25px;
        letter-spacing: 1px;
        margin: 1vh 4vw;
        z-index: 100;
        position: relative;
    }
    .backwrap{
        width: 0;
        height: 0;
        position: fixed;
        top: 0;
        opacity: 0;
    }
 

    .back{
        position: fixed;
        width: 0;
        height: 0;
        margin:0px 15vw;
        background-size:100%;
        background-position:top;
        background-repeat: no-repeat;
        opacity: 0;
    }
    .img_wrap{
        display: flex;
        justify-content: center;
        position: absolute;
        margin-top: 1vh;
        width: 100%;
    }
    .img_box{
        width: 92vw;
        height: auto;
    }
    .img_box img{
        width: 100%;
        margin-bottom: 5vh;
    }
    .img_box iframe{
        width: 100%;
        height: 35vh;
        margin-bottom: 5vh;
    }
    p.bodytext{
        font-size: 11px;
        line-height: 17px;
        margin-right: 0%;
    }
    .halfbottom{
        position: fixed;
        width: 100%;
        margin: 0;
        bottom: 1vh;
    } 
    #gif{width: 100%;
    margin-left: 0%;
}

}