


.work{
    width: 330px;
    height: 400px;
    position: relative;
    float:left;
    background-repeat: no-repeat;
    background-size:100%;
    
}

#coursera{
    background-image: url(img/line2.svg);
}

#dp{
    background-image: url(img/line5.svg);
}

#fleet{
    background-image: url(img/line3.svg);
}

#ebola{
    background-image: url(img/line4.svg);
}

.work figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
	min-width: 330px;
	max-width: 330px;
	max-height: 400px;
    width:48%;
	cursor: pointer;
}

.work figure img{
    opacity: 0;
    width: 100%;
    transition: 0.5s;
}

.work figure:hover img{
    opacity: 1;
    transition: 0.2s;
}


.work figcaption{
    width: 100%;
    height:80px;
    z-index: 1;
    position: absolute;

}
figure.slide figcaption {
	top: auto;
	bottom: -10px;
	height: 5em;
	background-color: rgba(125,125,125,0.5);
	color: white;
    padding: 0.5em;
    padding-left: 1.5em;
    line-height: 1em;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.slide:hover figcaption {
	-webkit-transform: translate3d(0,0,0);
	transform: translate(0,25px);
    transition: 0.5s ease-in-out;
}








.work_wide{
    width: 660px;
    height: 400px;
    position: relative;
    float:left;
}


.work_wide figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
	min-width: 660px;
	max-width: 660px;
	max-height: 400px;
    width:48%;
	cursor: pointer;
}

.work_wide figure img{
    opacity: 0;
    width: 100%;
    transition: 0.5s;
}

.work_wide figure:hover img{
    opacity: 1;
    transition: 0.2s;
}


.work_wide figcaption{
    width: 100%;
    height:80px;
    z-index: 1;
    position: absolute;

}
figure.slide figcaption {
	top: auto;
	bottom: -10px;
	height: 5em;
	background-color: rgba(150,150,150,0.5);
	color: white;
    padding: 0.5em;
    padding-left: 1.5em;
    line-height: 1em;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.slide:hover figcaption {
	-webkit-transform: translate3d(0,0,0);
	transform: translate(0,25px);
    transition: 0.5s ease-in-out;
}












/*iPhone 6 and iPhone 6+ portrait*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : portrait){ 


        
        
    .name{
        margin-top: 153px;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 4px;
        vertical-align: bottom;
        color: rgb(50,50,50);
    }
    .index{
        margin:150px 0 0 4%;
    
        opacity: 0;
    }
    .work{
        width: 95%;
        height: 70%;
        position: relative;
        float:left;
        font-family: Brandon Grotesque;
        font-weight: 400;
        margin-bottom: 3%;
        background-repeat: no-repeat;
        background-size:100%;
        background-position: 50% 50%;
    }
    figure {
        opacity: 0;
    }
    
    figure :hover{
        opacity: 0;
    }

    .work_wide{
        width: 95%;
        height: 70%;
        position: relative;
        float:left;
        font-family: Brandon Grotesque;
        font-weight: 400;
        margin-bottom: 3%;
        background-repeat: no-repeat;
        background-size:100%;
        background-position: 50% 50%;
    }
    #coursera{
        background-image: url(img/mob/coursera.jpg);
        
    }
     #dp{
        background-image: url(img/mob/dp.jpg);
        
    }
    #left02{
        height: 115px;
    }
    .wrap{
        top:333px;
        left:5%;
        width:94%;
        height: 800px;
        position: absolute;
    }

    
}




