@font-face {
	font-family: 'Brandongrotesque';
	src: url("font/Brandon_reg.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}


.work{
    width: 330px;
    height: 400px;
    position: relative;
    float:left;
    background-repeat: no-repeat;
    background-size:100%;
    
}

#coursera{
    background-image: url(img/line2.svg);
}
#dp{
    background-image: url(img/line5.svg);
}
#fleet{
    background-image: url(img/line3.svg);
}
#ebola{
    background-image: url(img/line4.svg);
}
#uncon{
    background-image: url(img/line6.svg);
}
#bigger{
    background-image: url(img/line2.svg);
}
#spatiality{
    background-image: url(img/line4.svg);
}
#academy{
    background-image: url(img/line5.svg);
}



.work figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
	min-width: 330px;
	max-width: 330px;
	max-height: 400px;
    width:48%;
	cursor: pointer;
}

.work figure img{
    opacity: 0;
    width: 100%;
    transition: 0.5s;
}

.work figure:hover img{
    opacity: 1;
    transition: 0.2s;
}


.work figcaption{
    width: 100%;
    height:80px;
    z-index: 1;
    position: absolute;

}
figure.slide figcaption {
	top: auto;
	bottom: -10px;
	height: 5em;
	background-color: rgba(125,125,125,0.5);
	color: white;
    padding: 0.5em;
    padding-left: 1.5em;
    line-height: 1em;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.slide:hover figcaption {
	-webkit-transform: translate3d(0,0,0);
	transform: translate(0,25px);
    transition: 0.5s ease-in-out;
}








.work_wide{
    width: 660px;
    height: 400px;
    position: relative;
    float:left;
}


.work_wide figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
	min-width: 660px;
	max-width: 660px;
	max-height: 400px;
    width:48%;
	cursor: pointer;
}

.work_wide figure img{
    opacity: 0;
    width: 100%;
    transition: 0.5s;
}

.work_wide figure:hover img{
    opacity: 1;
    transition: 0.2s;
}


.work_wide figcaption{
    width: 100%;
    height:80px;
    z-index: 1;
    position: absolute;

}
figure.slide figcaption {
	top: auto;
	bottom: -10px;
	height: 5em;
	background-color: rgba(150,150,150,0.5);
	color: white;
    padding: 0.5em;
    padding-left: 1.5em;
    line-height: 1em;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.slide:hover figcaption {
	-webkit-transform: translate3d(0,0,0);
	transform: translate(0,25px);
    transition: 0.5s ease-in-out;
}












/*iPhone 6 and iPhone 6+ portrait*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : portrait){ 


        
   .left185{
        float: left;
        position: relative;
        width:100%;
        height: 215px;

    }

    #left01{
        background-image: url(img/left01.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }



    .left400{
        float: left;
        position: relative;
        width:100%;
        height: 1200px;
        background-image: url(img/linenew.svg);
        background-repeat: repeat-y;
        background-size:cover;
    } 
    .name{
        margin-top: 177px;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 4px;
        vertical-align: bottom;
        color: rgb(50,50,50);
    }
    .index{
        margin:150px 0 0 4%;
    
        opacity: 0;
    }
    .work{
        width: 95%;
        height: 75%;
        position: relative;
        float:left;
        font-family: Brandon Grotesque;
        font-weight: 400;
        margin-bottom: 3%;
        background-repeat: no-repeat;
        background-size:100%;
        background-position: 50% 50%;
    }
    figure {
        opacity: 0;
    }
    
    figure :hover{
        opacity: 0;
    }

    .work_wide{
        width: 95%;
        height: 75%;
        position: relative;
        float:left;
        font-family: Brandon Grotesque;
        font-weight: 400;
        margin-bottom: 3%;
        background-repeat: no-repeat;
        background-size:100%;
        background-position: 50% 50%;
    }
    #coursera{
        background-image: url(img/mob/coursera.jpg);
        
    }
    #dp{
        background-image: url(img/mob/dp.jpg); 
    }
    #fleet{
        background-image: url(img/mob/fleet.jpg); 
    }
    #ebola{
        background-image: url(img/mob/ebola.jpg); 
    }
    #uncon{
        background-image: url(img/mob/uncon.jpg); 
    }
    #bigger{
        background-image: url(img/mob/bigger.jpg); 
    }
    #spatiality{
        background-image: url(img/mob/spatiality.jpg); 
    }
    #academy{
        background-image: url(img/mob/academy.jpg); 
    }
    
    .wrap{
        top:430px;
        left:5%;
        width:94%;
        height: 800px;
        position: absolute;
    }

    
}




